.title {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    font-weight: 700;
    text-shadow: 2px 2px 0px #ddd;
    animation: fadeIn 2s ease-in-out forwards;
}

.StartMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    animation: fadeIn 2s ease-in-out forwards;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    animation: fadeIn 2s ease-in-out forwards;
}

.inputContainer label {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #555;
    font-weight: 500;
    animation: fadeIn 2s ease-in-out forwards;
}

#userInput {
    width: 60%;
    padding: 1rem;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 1.2rem;
    animation: fadeIn 2s ease-in-out forwards;
}

.UserInputButton {
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    transition: background-color 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    animation: floatUp 1.5s ease-in-out forwards;
    background-color: #007bff;
    width: 15rem;
}

.Random {
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    transition: background-color 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    animation: floatUp 1.5s ease-in-out forwards;
    animation-delay: 0.3s;
    background-color: #dc3545;
    width: 15rem;
}

.existing {
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    transition: background-color 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    animation: floatUp 1.5s ease-in-out forwards;
    animation-delay: 0.6s;
    background-color: #5f35dc;
    width: 15rem;
    opacity: 0; /* just done for animation purposes, so it doesn't show on load */
}

.UserInputButton:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.Random:hover {
    cursor: pointer;
    background-color: #b02a37;
}

.existing:hover {
    cursor: pointer;
    background-color: #472ab0;
}

.wordlist-error {
    background-color: #b02a37;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: #b02a37;
    margin: 0.5rem;
}

.roomcode-container {
    display: flex;
    align-items: center;
    justify-content: center; /* this will center the container */
    margin-top: 1rem; /* add some space above the container */
    margin-bottom: 1rem;
}

.roomcode-container label {
    margin-right: 1rem;
    font-size: 1.2rem; /* adjust this to match your button font size */
    color: #555;
    font-weight: 600; /* match your button font weight */
}

#roomcodeInput {
    width: 10rem; /* match your button width */
    height: 1.5rem;
    padding: 0.7rem; /* adjust as needed */
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center; /* center the text input */
    box-sizing: border-box; /* to include padding and border in element's total width and height */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
